charset-normalizer==3.4.3
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
lxml==6.0.1
numpy==2.3.2
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pillow==10.4.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
pytz==2025.2
reportlab==4.4.3
six==1.17.0
ttkbootstrap==1.14.2
typing_extensions==4.15.0
tzdata==2025.2
